<mat-drawer-container class="drawer-container" (mousemove)="onMouseMove($event)">
  <mat-drawer #drawer mode="side" class="drawer" (mouseleave)="drawer.close()">
    <mat-toolbar class="drawer-header !p-0 !min-h-0">
      <div class="w-[95%] mx-auto bg-[linear-gradient(90deg,_#0477ba,_#0e4174)] 
         text-white rounded-[8px] flex items-center px-3 py-2 min-h-[72px] mt-[20px]">
        <mat-icon class="h-[50px] w-[50px] text-[20px] mr-[10px] text-white material-icons">
          account_box
        </mat-icon>

        <div class="flex flex-col leading-none">
          <span class="text-sm font-semibold">Bienvenido</span>
          <span class="text-xs">Hola</span>
        </div>

        <div class="ml-auto">
          <mat-icon class="h-[28px] w-[28px] text-[2
          4px] cursor-pointer text-white material-icons" (click)="logout()">
            logout
          </mat-icon>
        </div>
      </div>
    </mat-toolbar>
    <mat-list class="drawer-content">
      @for(item of menuItems; track item) {
      <mat-list-item class="drawer-link" [routerLink]="item.route" routerLinkActive="active-link"
        (click)="item.action && item.action()" (keydown.enter)="item.action && item.action()">
        <mat-icon matListItemIcon class="drawer-icon">{{ item.icon }}</mat-icon>
        <div matListItemTitle class="drawer-text">{{ item.label }}</div>
      </mat-list-item>
      }
    </mat-list>

  </mat-drawer>



  <mat-drawer-content class="main-content">
    <app-navbar (toggleDrawer)="drawer.toggle()"></app-navbar>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>

    <app-footer class="footer"></app-footer>
  </mat-drawer-content>

</mat-drawer-container>