<mat-drawer-container class="drawer-container" (mousemove)="onMouseMove($event)">
  <mat-drawer #drawer mode="side" class="drawer" (mouseleave)="drawer.close()">
    <mat-toolbar class="drawer-header">
      <div class="drawer-title">Menú</div>
      <mat-icon class="drawer-close" (click)="drawer.close()" (keydown.enter)="drawer.close()">
        close
      </mat-icon>
    </mat-toolbar>

    <mat-list class="drawer-content">
      @for(item of menuItems; track item) {
      <mat-list-item class="drawer-link" [routerLink]="item.route" routerLinkActive="active-link"
        (click)="item.action && item.action()" (keydown.enter)="item.action && item.action()">
        <mat-icon matListItemIcon class="drawer-icon">{{ item.icon }}</mat-icon>
        <div matListItemTitle class="drawer-text">{{ item.label }}</div>
      </mat-list-item>
      }
    </mat-list>

    <div class="drawer-logout">
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <app-navbar (toggleDrawer)="drawer.toggle()"></app-navbar>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>

    <app-footer class="footer"></app-footer>
  </mat-drawer-content>

</mat-drawer-container>