<h2 mat-dialog-title class="dialog-header">Connect to Broker</h2>

<mat-dialog-content>
  <form [formGroup]="brokerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width mt-[10px] items-center">
      <mat-label>Broker IP</mat-label>
      <input matInput formControlName="code" placeholder="Ej: localhost:9092" required>
      @if(brokerForm.get('code')?.invalid && brokerForm.get('code')?.touched){
        <mat-error>Broker IP is required</mat-error>
      }
    </mat-form-field>

    @if(errorMessage()){
      <mat-card class="error-card">
        <mat-icon>error</mat-icon>
        {{ errorMessage() }}
      </mat-card>
    }
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary"
          [disabled]="brokerForm.invalid || isLoading()"
          (click)="onSubmit()">
    @if(!isLoading()){<span>Validate</span>}
    @else {<mat-spinner diameter="18"></mat-spinner>}
  </button>
</mat-dialog-actions>