<div class="dialog-container">
  <div class="dialog-header">
    <h2>Select a Broker</h2>
  </div>

  <mat-dialog-content class="dialog-content">
    <form [formGroup]="dialogForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Type the broker to connect</mat-label>
        <input matInput formControlName="code" placeholder="Ej: localhost:9092" required>
        @if(dialogForm.get('code')?.invalid && dialogForm.get('code')?.touched){<mat-error>
          The Broker is Required
        </mat-error>}
      </mat-form-field>
      @if(errorMessage()){<div class="error-message">
        {{ errorMessage() }}
      </div>}
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" class="validate-button" [disabled]="dialogForm.invalid || isLoading()"
      (click)="onSubmit()">
      @if(!isLoading()){<span>Validate</span>}
      @else {<mat-spinner diameter="20"></mat-spinner>}
    </button>
  </mat-dialog-actions>
</div>