<div class="bg-white table-container">
  <div class="flex-1 flex justify-between bg-primary rounded-t-lg pt-4">
    <div class="flex-1 flex ml-5 pt-4">
      <div class="text-2xl font-semibold text-white">{{ columnName }}</div>
    </div>

    <div class="flex mr-5 h-full items-center">
      <mat-form-field class="h-full flex items-center">
        <mat-label>Search</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Buscar en la tabla"
        />
      </mat-form-field>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" matSort class="custom-table">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.header }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element[column.key] }} </mat-cell>
    </ng-container>

    <!-- Columna de acciones -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          (click)="onSearch(element)"
          mat-icon-button
          aria-label="Search"
          class="text-primary"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button aria-label="Edit" class="text-secondary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Delete" class="text-error">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <div class="custom-paginator">
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
