<mat-dialog-content>
  <div class="dialog-container">
    @if(data.messages.length > 0) {
      <app-customTable
        [data]="data.messages"
        [columns]="columnsDefinitions"
        [columnName]="'Mensajes'"
        [actions]="actions"
        [paginationOptions]="{ pageSize: 10, pageSizeOptions: [10, 20, 50] }"
        (pageChange)="onPageChanged($event)"
      >
      </app-customTable>
    } @else {
      <h2 mat-dialog-content class="text-center">No hay mensaje para mostrar</h2>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions class="text-right">
  <button mat-button (click)="onClose()">Close</button>
</mat-dialog-actions>

<ng-template #replyDialog let-data>
  <h2 mat-dialog-title>Reenvío del mensaje</h2>
  <div class="dialog-container">
    <mat-card class="form-container">
      <form [formGroup]="formGroup">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de envío</mat-label>
          <input matInput formControlName="timestamp" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Partición</mat-label>
          <input matInput formControlName="partition"  />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Posición</mat-label>
          <input matInput formControlName="offset"  />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <textarea matInput rows="8" formControlName="value"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Identificador</mat-label>
          <input matInput formControlName="key"  />
        </mat-form-field>

        <!-- Botón con color y espacio -->
        <div class="form-actions">
          <button mat-raised-button color="primary" (click)="enviarDatos()">Confirmar</button>
        </div>
      </form>
    </mat-card>
  </div>
</ng-template>