<div class="login-container">
  <div class="login-image">
    <img
      src="https://www.ceupe.pe/images/easyblog_articles/260/b2ap3_large_Los-5-secretos-de-una-buena-gestin.jpg"
      alt="Login"
    />
  </div>
  <div class="login-form">
    <mat-card>
      <mat-card-title class="cardTitle">Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input
              matInput
              formControlName="username"
              placeholder="Usuario"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              type="password"
              formControlName="password"
              placeholder="Contraseña"
              required
            />
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">
            Ingresar
          </button>
        </form>
        @if(errorMessage){
        <div class="error-message">
          {{ errorMessage }}
        </div>
        }
      </mat-card-content>
    </mat-card>
  </div>
</div>
