<div class="dashboard-container">
  <mat-grid-list
    cols="3"
    rowHeight="200px"
    gutterSize="16px"
    class="dashboard-grid"
  >
    <!-- Primer Row: Conteos -->
    @for(count of counts; track count){<mat-grid-tile
      colspan="1"
      rowspan="1"
      class="count-tile"
    >
      <a [routerLink]="count.link" class="panel" [style]="count.style">
        <div class="title text-secondary">{{ count.title }}</div>
        <div class="value text-primary">{{ count.value }}</div>
      </a> </mat-grid-tile
    >}

    <!-- Segundo Row: Paneles -->
    @for(panel of panels; track panel){<mat-grid-tile
      colspan="3"
      rowspan="1"
      class="panel-tile"
    >
      <div class="panel">{{ panel }}</div> </mat-grid-tile
    >}
  </mat-grid-list>
</div>
