<div class="dashboard-container">
  <mat-grid-list cols="3" rowHeight="100px" gutterSize="16px" class="dashboard-grid">
    @for(count of counts; track count){<mat-grid-tile colspan="1" rowspan="1" class="count-tile">
      <a [routerLink]="count.link" class="panel" [style]="count.style">
        <div class="title">{{ count.title }}</div>
        <div class="value">{{ count.value }}</div>
      </a>
    </mat-grid-tile>}
  </mat-grid-list>

  <div style="height: 10px;"></div>

  <div class="metrics-panel-container">
    <mat-card class="metrics-panel" appearance="outlined">
      <mat-card-header>
        <div class="header-content">
          <mat-card-title class="metrics-title">Metrics Overview</mat-card-title>
          <button mat-flat-button (click)="getMetrics()" class="refresh-btn">
            <mat-icon>refresh</mat-icon> Refresh
          </button>
        </div>
      </mat-card-header>

      <mat-card-content class="metrics-cards">
        <mat-card class="metric-card"
          [ngClass]="getMetricClass('connection-creation-total', metrics?.['connection-creation-total'])"
          matTooltip="Total connections created to the broker">
          <div class="metric-name">Created Connections</div>
          <div class="metric-value">
            {{ metrics?.['connection-creation-total'] || 0 }}
          </div>
        </mat-card>

        <mat-card class="metric-card"
          [ngClass]="getMetricClass('connection-close-total', metrics?.['connection-close-total'])"
          matTooltip="Total connections closed to the broker">
          <div class="metric-name">Closed Connections</div>
          <div class="metric-value">
            {{ metrics?.['connection-close-total'] || 0 }}
          </div>
        </mat-card>

        <mat-card class="metric-card" [ngClass]="getMetricClass('request-total', metrics?.['request-total'])"
          matTooltip="Total number of requests received">
          <div class="metric-name">Requests Total</div>
          <div class="metric-value">
            {{ metrics?.['request-total'] || 0 }}
          </div>
        </mat-card>

        <mat-card class="metric-card" [ngClass]="getMetricClass('network-io-total', metrics?.['network-io-total'])"
          matTooltip="Total bytes sent/received on the network">
          <div class="metric-name">Network IO Total</div>
          <div class="metric-value">
            {{ metrics?.['network-io-total'] || 0 }}
          </div>
        </mat-card>

        <mat-card class="metric-card" [ngClass]="getMetricClass('io-wait-ratio', metrics?.['io-wait-ratio'])"
          matTooltip="Time the system was waiting for I/O">
          <div class="metric-name">IO Wait Ratio</div>
          <div class="metric-value">
            {{ metrics?.['io-wait-ratio'] || 0}}
          </div>
        </mat-card>

        <mat-card class="metric-card" [ngClass]="getMetricClass('request-rate', metrics?.['request-rate'])"
          matTooltip="Requests per second">
          <div class="metric-name">Request Rate</div>
          <div class="metric-value">{{ metrics?.['request-rate'] || 0 }}</div>
        </mat-card>

        <mat-card class="metric-card" [ngClass]="getMetricClass('select-total', metrics?.['select-total'])"
          matTooltip="Total selection operations (reads)">
          <div class="metric-name">Select Total</div>
          <div class="metric-value">{{ metrics?.['select-total'] || 0 }}</div>
        </mat-card>

        <mat-card class="metric-card" [ngClass]="getMetricClass('connection-count', metrics?.['connection-count'])"
          matTooltip="Current number of open connections">
          <div class="metric-name">Connection Count</div>
          <div class="metric-value">{{ metrics?.['connection-count'] || 0 }}</div>
        </mat-card>

        <mat-card class="metric-card"
          [ngClass]="getMetricClass('outgoing-byte-total', metrics?.['outgoing-byte-total'])"
          matTooltip="Bytes sent from the broker">
          <div class="metric-name">Outgoing Bytes</div>
          <div class="metric-value">{{ metrics?.['outgoing-byte-total'] || 0 }}</div>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>

</div>